{% extends 'principal.html.twig' %}

{% block body %}

	{{ parent() }}
	{{ include('IEPCOficialiaPartesBundle:Default:success.html.twig') }}
	{{ include('IEPCOficialiaPartesBundle:Default:failed.html.twig') }}
	<h1 class="page-header">Oficialia de Partes</h1>
	<div class="panel panel-default">
		<div class="panel-heading"><h4>Registro de Documentos</h4></div>
		<div class="panel-body">

			{{ form_start(form, { 'attr' : {'role' : 'form', 'enctype' : 'multipart/form-data'} }) }}
                
                <div class="form-group">
                    {{ form_label(form.nombreEmisor) }}
                    {{ form_widget(form.nombreEmisor, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Nombre del Emisor'} }) }}
                    <span class="text-danger">{{ form_errors(form.nombreEmisor) }}</span>
                </div>
                
			    <div class="form-group">
			        {{ form_label(form.institucionEmisor) }}
			        {{ form_widget(form.institucionEmisor, {'attr': {'class': 'form-control', 'placeholder' : 'Nombre de la Institucion'}}) }}
			        <span class="text-danger">{{ form_errors(form.institucionEmisor) }}</span>
			    </div>

			    <div class="form-group">
			        {{ form_label(form.asuntoEmisor) }}
			        {{ form_widget(form.asuntoEmisor, {'attr': {'class': 'form-control', 'placeholder' : 'Asunto'}}) }}
			        <span class="text-danger">{{ form_errors(form.asuntoEmisor) }}</span>
			    </div>
			    <div class="form-group">
			      <label for="exampleInputFile">Seleccionar Archivo</label>			      
			      <input type="file" name="archivo" id="documento_iepc">
			      <p class="help-block">Example block-level help text here.</p>
			    </div>

			    <div class="checkbox">
				    <label>
						{{ form_widget(form.respuesta) }}{% trans %}Respuesta{% endtrans %}
						<span class="text-danger">{{ form_errors(form.respuesta) }}</span>
				    </label>
				</div>

    		    <p>
    		        {{ form_widget(form.save, {'label' : 'Crear Registro', 'attr': {'class': 'btn btn-success'}}) }}
    		    </p>                
            
                    {{ form_end(form) }}
		</div>
	</div>


  

{% endblock %}

